[Unit]
Description="stm32kbd2uinput reads from irmp_stm32_kbd_event and writes key presses to uinput"
Requisite=dev-irmp_stm32_kbd_event.device
After=dev-irmp_stm32_kbd_event.device

[Service]
Type=simple
ExecStart=/usr/bin/stm32kbd2uinput
Restart=on-failure
RestartSec=1s
KillMode=process
TimeoutStopSec=1s

[Install]
WantedBy=dev-irmp_stm32_kbd_event.device
