[Unit]
Description=triggerhappy global hotkey daemon
After=local-fs.target

[Service]
Type=notify
ExecStart=/usr/sbin/thd --triggers /etc/triggerhappy/triggers.d/ --user root --deviceglob /dev/input/event*
Restart=on-failure
RestartSec=1s
KillMode=process
TimeoutStopSec=1s

[Install]
WantedBy=multi-user.target
